:root{

}

body,
html{
    height: 100%;
    width: 100%;
}
h1{
    font-family: var(--mynerve-font)
}
.text-center{
    text-align: center;
}
html{
    overflow: hidden;
}
body{
        background:
            linear-gradient(rgb(215, 209, 209), transparent),
            linear-gradient(to top left, rgb(44, 207, 196), transparent),
            linear-gradient(to top right, rgb(12, 245, 225), transparent);
        background-blend-mode: screen;
    }
}
img{
    width: 600px;
}
/*
* Styles
*/
.expanding-flex-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content:center;
}

.expanding-flex-cards>.expanding-flex-cards-item{
    height: 75vh;
    width: 23px;
    position: relative;
    background: transparent;
    border-radius:20px;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 10px;
    box-shadow: 0px 2px 11px #ffffff52;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item.active {
    width: 1100px;
}
.expanding-flex-cards>.expanding-flex-cards-item:not(.active) {
    cursor: pointer;
}
.expanding-flex-cards>.expanding-flex-cards-item:hover:not(.active){
    transform: scale(1.05);
}
.expanding-flex-cards>.expanding-flex-cards-item>img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer {
    bottom: 20px;
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item:not(.active)>.expanding-flex-cards-item-footer {
    bottom: 12px;
    left: calc(50% - 15px);
    max-height: calc(25%);
    overflow: hidden;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer>.expanding-flex-cards-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #464444;
    border-radius: 50% 50%;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0px 1px 5px #00000021;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer>.expanding-flex-cards-title {
    padding: 0px 10px;
    text-shadow: 0px 1px 3px #1616168f;
    display: none;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item.active>.expanding-flex-cards-item-footer>.expanding-flex-cards-title {
    display: block;
    padding: 0px 10px;
    text-shadow: 0px 1px 3px #1616168f;
}

@keyframes expanding-flex-cards-item-body-reveal{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
/* ... (your existing CSS code) ... */

/* Centering the flex cards on the screen */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the section take the full viewport height */
    background-color: var(--dark-color);
}

.expanding-flex-cards {
    display: flex;
    align-items: center;
}

/* ... (rest of your CSS code) ... */
